.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Data
data/SolidiFI-benchmark/
data/smartbugs-curated/
data/processed/

# Model outputs
checkpoints/
*.pt
*.bin
auditor/train/model_output/
auditor/train/final_classifier/

# Env
.env
*.env

.DS_Store